.page--about {
  .top__wrapper {
    width: 100%;
    font-size: 0;

    .wrapper--left {
      display: inline-block;
      height: 100%;
      width: 50%;
      transition: opacity 250ms;

      img {
        height: 100%;
        width: 100%;
      }

      @media (max-width: 980px) {
        display: block;
        width: 100%;
      }
    }

    .wrapper--right {
      vertical-align: top;
      display: inline-block;
      height: 100%;
      width: 50%;
      padding: 0 24px;
      text-align: center;

      .info__wrapper {
        .name__wrapper {
          font-size: 42px;
          margin: 8px auto;

          @media (max-width: 1070px) {
            font-size: 36px;
            margin: 2px auto;
          }

          @media (max-width: 980px) {
            margin-top: 18px;
          }
        }

        .desc {
          font-size: 24px;
          font-weight: 300;
          margin: 8px 0;
          padding: 4px;

          @media (max-width: 1070px) {
            font-size: 18px;
          }

          @media (max-width: 980px) {
            font-size: 24px;
            line-height: 36px;
          }

          &.small {
            font-size: 18px;
            line-height: 1.75rem;
            text-align: left;

            @media (max-width: 1070px) {
              font-size: 16px;
            }

            @media (max-width: 980px) {
              font-size: 18px;
              padding: 0 4% 4% 4%;
            }
          }
        }
      }

      @media (max-width: 980px) {
        display: block;
        width: 100%;
      }
    }
  }

  .bottom__wrapper {
    font-size: 0;
    width: 100%;

    a {
      border-bottom: 0;
    }

    .interest {
      width: 33.333333%;
      display: inline-block;

      .interest__link {
        width: 100%;
        height: 100%;
        display: inline-block;

        .interest__photo {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .interest__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $black;
          -webkit-transition: opacity 250ms;
          transition: opacity 250ms;
          opacity: 0;

          @media screen and (max-width: 500px) {
            opacity: 0.7;
          }
        }

        .box {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border: 3px solid $white;
          opacity: 0;
          transition: all 250ms;
          z-index: 5;

          @media screen and (max-width: 500px) {
            top: 7.5%;
            bottom: 7.5%;
            left: 7.5%;
            right: 7.5%;
            opacity: 1;
          }
        }

        .interest__details {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          padding: 0.5rem;
          color: $black;
          opacity: 0;
          z-index: 1;
          transition: opacity 250ms;

          @media screen and (max-width: 500px) {
            padding: 36px;
            color: $white;
            opacity: 1;

            .interest__details--title {
              font-size: 36px;
              margin-bottom: 8px;

              @media (max-width: 810px) {
                font-size: 24px;
              }

              @media (max-width: 640px) {
                font-size: 36px;
              }
            }

            .interest__details--desc {
              font-size: 24px;

              @media (max-width: 810px) {
                font-size: 18px;
              }

              @media (max-width: 640px) {
                font-size: 24px;
              }
            }
          }
        }
      }

      &:hover, &:active, &:focus {
        .box {
          top: 7.5%;
          bottom: 7.5%;
          left: 7.5%;
          right: 7.5%;
          opacity: 1;
        }

        .interest__overlay {
          opacity: 0.8;
        }

        .interest__details {
          padding: 36px;
          color: $white;
          opacity: 1;

          .interest__details--title {
            font-size: 36px;
            margin-bottom: 8px;

            @media (max-width: 810px) {
              font-size: 24px;
            }

            @media (max-width: 640px) {
              font-size: 36px;
            }
          }

          .interest__details--desc {
            font-size: 24px;

            @media (max-width: 810px) {
              font-size: 18px;
            }

            @media (max-width: 640px) {
              font-size: 24px;
            }
          }
        }
      }

      @media (max-width: 640px) {
        display: block;
        width: 100%;
      }
    }
  }
}
